@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root,:root.dark {
  --bg-color: 1,1,1;
  --txt-color: #eee;
  --txt-color-alt: #010101;
  --active: #DA0037;
}

:root.light {
  --bg-color: 238,238,238;
  --txt-color: #010101;
  --txt-color-alt: #eee;
  --active: #DA0037;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background: rgb(var(--bg-color));
  color: var(--txt-color);
  overflow-x: hidden;
  /* font-size: 18px; */
}

.App {
  text-align: center;
  min-height: 100%;
}

.AppNavbar {
  background: none;
}

.AppNavbarBg {
  background: rgb(var(--bg-color));
  color: var(--txt-color);
}

.AppNavbarNav {
  min-width: 50vw;
  align-items: center;
}

.AppNavbarNavBrand {
  /*font-family: "Fredoka One";*/
  font-family: "La Belle Aurore";
  font-weight: bold;
  font-size: 40px;
  padding: 5px;
  text-decoration: none;
  color: var(--txt-color-alt);
  &:hover {
    cursor: pointer;
    color: var(--txt-color-alt);
  }
  &.AppNavbarNavBrandAlt {
    color: rgb(var(--txt-color));
    &:hover {
      color: rgb(var(--txt-color));
    }
  }
}

.AppNavbarNavLink {
  font-family: "Bebas Neue";
  color: var(--txt-color-alt);
  font-size: 20px;
  text-decoration: none;
  &:hover {
    color: var(--active) !important;
    cursor: pointer !important;
  }
  &.AppNavbarNavLinkAlt {
    color: rgb(var(--txt-color));
    &:hover {
      color: rgb(var(--txt-color));
    }
  }
  &.AppNavbarNavLinkActive {
    color:var(--active);
    text-decoration: underline;
  }
}
/*
.socialButton {
  border: 0;
  background: none;
  &:hover {
    background: none;
    border: 0;
    outline: none !important;
    outline-offset: none !important;
    box-shadow: none !important;
  } 
}

.github:hover {
  color: #79B5DF;
}

.spotify:hover {
  color: #1DD05D;
}

.discord:hover {
  color: #5865F2;
}

.facebook:hover {
  color: #2374E1;
}

.instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); 
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);    
  color: #fff;
  filter: saturate(0);
  &:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); 
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);    
    color: #fff;
    filter: saturate(1);
  }
}

.github, .instagram, .facebook, .spotify, .discord {
  color: #eee;
}
*/
.hello {
  color: var(--txt-color-alt);
  font-family: "Anton";
}

.iam-words {
  display: inline;
  text-indent: 10px;
}

.iam-words-1 span {
  padding-bottom: 10px;
  position: absolute;
  opacity: 0;
  overflow: hidden;
  animation: rotateWord 9s linear infinite 0s;
}

.iam-words-1 span:nth-child(2) { 
  animation-delay: 3s; 
}
.iam-words-1 span:nth-child(3) { 
  animation-delay: 6s; 
}

@keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
  17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
  20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}

.s {
  min-width: 100vw;
  min-height: 100vh;
}

.ph {
  min-width: 100%;
  min-height: 80vh;
  background-color: none;
  /*border: 1px var(--txt-color) dashed;*/
}

.bg {
  background-image: url("../public/bg.jpg");
  background-position: 10 0;
  background-repeat: no-repeat;
  background-size: cover;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 75%, transparent 100%);
}

.progress {
  height: 15px;
  margin: 10px;
  transform-origin: left;
  border-radius: 0%;
  background: rgba(255,255,255,0.25);
  & > * {
    transform: scaleX(0);
  }
}

.progress-bar {
  background: var(--active) !important;
  opacity: 1;
}

.progress-animation {
  @extend .progress;
  & > * {
    animation: progress 1.5s ease-in-out forwards;
  }
}

@keyframes progress {
  from {
    transform: scaleX(0);
    transform-origin: left;
  }
  to {
    transform-origin: left;
    transform: scaleX(1);
  }
}

.progressBarLabel {
}

.text-color-gold {
  color: goldenrod;
}









.red {
  border: 1px #ff0000 solid;
}

.green {
  border: 1px #00ff00 solid;
}

.blue {
  border: 1px #0000ff solid;
}

.gold {
  border: 1px goldenrod solid;
}