@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200;1000&display=swap');

body {
  background-color: aliceblue;
}

.red {
  border: 1px #ff0000 solid;
}

.green {
  border: 1px #00ff00 solid;
}

.blue {
  border: 1px #0000ff solid;
}

.gold {
  border: 1px goldenrod solid;
}

.burger {
  border: 0;
  margin-right: 0;
  padding-right: 0;
}

.pt-6 {
  padding-top: 5rem;
}

.App {
  text-align: center;
  min-height: 100%;
  background-color:aliceblue;
}

.AppNavbar {
  background-color:aliceblue;
}

.AppNavbarBrand {
  font-weight: 1000;
  font-family: "Cairo Play";
}

.socialButton {
  border: 0;
  background: none;
  color: #000;
  &.socialButton:hover {
    color: #000;
    background: none;
    border: 0;
    outline: none !important;
    outline-offset: none !important;
    box-shadow: none !important;
  } 
}
.sectionHome {
  min-height: 100vh;
}

.sectionAbout {
  min-height: 100vh;
}

.sectionWork {
  min-height: 100vh;
}

.sectionBlog {
  min-height: 100vh;
}

.sectionContact {
  min-height: 100vh;
}



/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/